---
import '../styles/global.css'
import Hero from '../components/Hero'
import Concept from '../components/Concept'
import Menu from '../components/Menu'
import Blog from '../components/Blog'
import Master from '../components/Master'
import Access from '../components/Access'
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/caffe-astore/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Caffè Astore モダンなクラシック ここでしか味わえない唯一無二の体験" />
    <title>Caffè Astore</title>
  </head>
  <body class="min-h-screen">
    <Hero />
    <main>
      <Concept client:load />
      <Menu client:load />
      <Blog client:load />
      <Master client:load />
      <Access client:load />
    </main>
  </body>
</html>
